<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#fff">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125551451-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125551451-1');
    </script>

    <meta property = "og:title" content = "Esportbits" />
    <meta property = "og:description" content = "Clearing and settlement esports engagement token." />
    <meta property = "og:type" content = "website" />
    <meta property = "og:url" content = "https://esportbits.com" />
    <meta property = "og:image" content = "https://esportbits.com/Hyperchan.png" />

    <title>Esportbits</title>
  </head>
  <body>

    <div class="wrapper">

      <%
        var templates = {
          token: require('./token.html'),
        };

        // 'template' we define in webpack

        print(templates[template]);
      %>

      <%= require('./_footer.html') %>

    </div>

  </body>
</html>
