.container {
  margin: 0 auto;
}

.container_size_default {
  width: 90vw;
}

.container_flex {
  display: flex;
  margin: 0 auto;
}

.container_flex_align_center {
  align-items: center;
}

.container_flex_direction_column {
  direction: column;
}

.container_flex_justify_between {
  justify-content: space-between;
}